<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ home.php [L]
    RewriteRule ^login$ login.php [L]
    RewriteRule ^register$ register.php [L]
    RewriteRule ^lupa$ lupa.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>